@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 0 0 0;
}
html {
  scroll-behavior: smooth;
  /* scroll-padding-top: 38px;  */
  margin: 0 0 0 0;
}
::-webkit-scrollbar {
  width: 15px;
}
.main {
  padding-top: 38px;
  @media only screen and (max-width: 1024px) {
    padding-top: 32px;
  }
}
::-webkit-scrollbar-thumb {
  background: #ececec;
}
